services:
  - type: worker
    name: shopee-spx-bot
    env: python
    region: singapore
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
    disk:
      name: bot-data
      mountPath: /opt/render/project/src/data
      sizeGB: 1
